body {
    background: #000000;
    margin: 0;
}

.p-0 {
    padding: 0px !important;
}

.first-back {
    background-image: url(../images/first-bg.png);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    max-width: 100%;
}

.first-main-top {
    position: relative;
}

.first-main {
    padding: 50px 0px;
    justify-content: space-between;
}

.first-left-content h2 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.first-left-content h1 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 800;
    font-size: 128px;
    line-height: 100px;
    margin: 0px;
    color: #36D1DC;
}

.first-left-content p {
    font-family: 'Overpass';
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    color: #BDBDBD;
    margin-bottom: 35px;
    margin-top: 45px;
}

.first-left-content p span {
    color: #ffffff;
    text-transform: uppercase;
}

.first-left-content span.text-first {
    font-family: 'Overpass';
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-decoration: underline;
    color: #FCFCFC;
    margin-bottom: 24px;
    display: block;
    text-align: left;
}

button.start-trading-btn {
    max-width: 337px;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 49px;
    background: linear-gradient(90deg, #36D1DC 0%, #5B86E5 100%);
    border-radius: 55px;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
button.start-trading-btn:hover {
    background: linear-gradient(90deg, #37e6f3 0%, #215ad6 100%);
}

.discover-video {
    background: #101010;
    border: 5px solid #333333;
    border-radius: 40px;
    max-width: 1207.98px;
    height: 450px;
    width: 100%;
    overflow: hidden;
}

.discover-video .vpfr_player_controls .discover-video .vpfr_video_wrapper {
    max-width: 1207.98px;
    height: 450px;
    width: 100%;
}

.discover-video .vpfr_player_controls {
    width: calc(100% - 105px) !important;
}

.discover-video .vpfr_player_controls,
.discover-video .vpfr_play_pause_on_click {
    width: calc(100% - 10px) !important;
}

.discover-video .vpfr_container {
    max-width: 1207.98px;
    height: 450px;
    width: 100%;
}

.vpfr_paused_player .vpfr_play_pause_on_click {
    width: calc(100% - 0px) !important;
}

.discover-future-content h2 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #E2E8EA;
    text-align: center;
    margin-bottom: 68px;
}

.discover-future-crypto {
    background-color: #0D0D0D;
}

.discover-button {
    text-align: center;
    margin: 30px 0px;
}

.density-button {
    text-align: center;
    margin: 0px;
}

.choose-content h2 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 116.6%;
    color: #E2E8EA;
    text-align: center;
    margin-bottom: 68px;
}

.choose-list {
    text-align: center;
    margin-bottom: 78px;
}

.choose-list {
    text-align: center;
    margin-bottom: 78px;
    background: rgba(56, 56, 56, 0.15);
    border: 1px solid #383838;
    padding: 20px;
    border-radius: 5px;
}

.choose-list h4 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 8px;
}

.choose-list p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #BCBCBD;
    margin-top: 0px;
}

.choose-list img {
    width: 105px;
    height: 95px;
    object-fit: contain;
}

.choose-list h4 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 8px;
    background: -webkit-linear-gradient(#36D1DC, #5B86E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.choose-main {
    padding: 50px 0px;
}

.trade-content .trade-left h2 {
    font-family: 'Overpass';
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 14px;
}

.trade-content .trade-left h2 span {
    color: #36D1DC;
}

.trade-left p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 51px;
}

.trade-right img {
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.trade-cont-Futures {
    align-items: center;
}

.advisor-left h2 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    color: #FFFFFF;
}

.advisor-right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.advisor-cont {
    padding: 50px 0px;
}

.advisors-left h2 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(#36D1DC, #5B86E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
}

.advisors-content ul {
    display: flex;
    flex-wrap: wrap;
}

.advisors-content ul li {
    width: 20%;
    text-align: center;
}

.advisors-content ul li h5 {
    font-family: 'Overpass';
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: rgba(179, 172, 172, 0.9);
    margin-top: 10px;
    margin-bottom: 5px;
}

.advisors-content ul li p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(173, 172, 172, 0.6);
    margin-top: 0px;
}

.advisors-heading h2 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    background: -webkit-linear-gradient(#36D1DC, #5B86E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 0px;
}

.advisors-main {
    padding: 50px 0px;
}

.countMatter-heading h2 {
    font-family: 'Overpass';
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.countMatter-heading p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    margin-top: 0px;
}

.countMatter-list {
    background: rgba(56, 56, 56, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 6px;
    width: 100%;
    text-align: center;
    padding: 46px 10px;
    border: 1px solid #383838;
}

.countMatter-main {
    padding: 50px 0px;
    background-color: #0D0D0D;
}

.countMatter-list h4 {
    font-family: 'Overpass';
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    text-align: center;
    color: #FFFFFF;
    margin: 8px 0px;
}

.countMatter-list p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
}

.countMatter-content {
    margin-top: 40px;
}

.refer-earn-heading h2 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 61px;
    color: #EFF4FF;
    margin-bottom: 0px;
}

.refer-earn-heading h2 span {
    background: -webkit-linear-gradient(#36D1DC, #5B86E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.refer-earn-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.refer-earn-cont h3 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 24px;
}

.refer-earn-cont p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 24px;
}

.refer-earn-contents {
    background: #191919;
    border-radius: 36px;
    margin-top: 39px !important;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-left: 0px !important;
    width: 100% !important;
}

.refer-earn-img img {
    max-width: 339px;
    max-height: 355px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-logo {
    margin-right: 52px;
}

.refer-earn-main {
    padding: 50px 0px;
    background-color: #0D0D0D;
}

.faq-main {
    background-color: #0D0D0D;
}

.faq-heading h2 {
    font-family: 'Overpass';
    font-weight: 800;
    font-size: 48px;
    line-height: 55px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#36D1DC, #5B86E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 0px;
}

.faq-left img {
    max-width: 450px;
    max-height: 450px;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.faq-cont {
    align-items: center;
}

.faq-right .MuiAccordion-root.MuiAccordion-rounded {
    background: #191919;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-bottom: 21px;
}

.faq-right .MuiAccordion-root.MuiAccordion-rounded .MuiAccordionSummary-content {
    font-family: 'Overpass';
    font-weight: 600;
    font-size: 16px;
    line-height: 56px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 20px 0px;
}

.faq-right .MuiCollapse-root.MuiCollapse-vertical p.MuiTypography-root {
    color: #fff;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
}

.MuiAccordionSummary-expandIconWrapper {
    background: #FFFFFF;
    box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
    border-radius: 30px;
}

.MuiAccordionSummary-expandIconWrapper svg {
    fill: #5B86E5;
    transform: rotate(270deg);
}

.MuiAccordionSummary-expandIconWrapper.Mui-expanded svg {
    transform: rotate(180deg);
}

.faq-content {
    padding: 50px 0px;
}

button.header-btn {
    width: 100%;
    left: 0px;
    background: linear-gradient(90deg, #36D1DC 0%, #5B86E5 100%);
    border-radius: 55px;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    height: 40px;
    padding: 10px 20px;
    margin-left: 10px;
}

.header-main {
    background-color: #0D0D0D !important;
    padding: 10px;
}

.header-link {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 14px;
    line-height: 20px;
}
#menu-appbar .menu-item a {
    font-family: 'Overpass';
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.header-link.active {
    color: #00C9F7 !important;
}

.first-right-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.first-right-image button.start-trading-btn {
    display: none;
}

.first-left-content button.start-trading-btn {
    display: block;
}

.header-right {
    display: block;
}

.footer-main {
    background: #0D0D0D;
    border-top: 1px solid #2E2E2E;
    padding-top: 56px;
    padding-bottom: 36px;
}

.footer-first p {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #8C8C8C;
}

.footer-links h4 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 24px;
}

.footer-links a {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #8C8C8C;
    width: 100%;
    display: block;
    padding-bottom: 20px;
    text-decoration: none;
}

.footer-links a:hover {
    color: #36D1DC;
}

.footer-first p a {
    color: #36D1DC;
    text-decoration: none;
}

.footer-copyright p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #8C8C8C;
    text-align: center;
}

.footer-icons svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    color: #fff;
}

.team-slider .slick-wrapper {
    width: 80%;
    background-color: aqua;
}

.team-slider .slide-item {
    background-color: rebeccapurple;
    color: aqua;
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    border: 1px solid white;
}

.team-slider .slide-item h3 {
    font-family: Lato, sans-serif;
    font-size: 40px;
}

.team-slider .slick-initialized .slick-slide {
    display: block;
}

.team-slider .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.team-slider-list {
    background: #FFFFFF;
    border-radius: 14px;
    margin: 10px;
    padding: 10px;
    max-width: 160px;
}

.team-slider-list h5 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.05em;
    color: #000000;
    margin: 10px 0px 5px 0px;
}

.team-slider-list p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: #000000;
    margin: 0px;
}

.team-slider-list img {
    width: 100%;
    max-height: 206px;
    object-fit: contain;
}

.team-left-content h2 {
    font-family: 'Overpass';
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.team-left-content p {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 0px;
}

.team-main button.slick-arrow.slick-next {
    left: -70px;
    bottom: 30%;
    top: inherit;
}

.team-main button.slick-arrow.slick-prev {
    left: -100px;
    bottom: 30%;
    top: inherit;
}

.team-main .slick-next:before {
    content: '→';
    background: -webkit-linear-gradient(#36D1DC, #5B86E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px !important;
    line-height: 23px !important;
}

.team-main .slick-prev:before {
    content: '←';
    background: -webkit-linear-gradient(#36D1DC, #5B86E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px !important;
    line-height: 23px !important;
}

.team-main {
    overflow: hidden;
}

.vpfr_video_poster_image {
    background-size: cover;
}

.discover-video .vpfr_video {
    width: 100%;
    height: 100%;
}

.boost-portfolio {
    padding: 80px 0px;
}

.boots-main .slick-prev:before,
.slick-next:before {
    font-size: 30px !important;
}

.boost-content h2 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 61px;
    color: #EFF4FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boost-content h2 span {
    background: -webkit-linear-gradient(#36D1DC, #5B86E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 10px;
}

.boost-content h2 img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.boots-slider-list .boots-list-hdg {
    display: flex;
    align-items: center;
}

.boots-slider-list .boots-list-hdg h5 {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0px 0px 0px 5px;
}

.boots-list-left p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #A2A2A2;
    margin-bottom: 3px;
}

.boots-list-left span {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.boots-list-right h5 {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
}

.boots-list-right p {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    color: #A1A1A1;
}

.boots-list-right span {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
}

.boots-list-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column !important;
}

.boots-slider-list {
    margin: 0px 10px;
    background: #101010;
    border-radius: 12px;
    border: 1px solid #5FD2F4;
    padding: 11px 16px;
}

.boost-content h2 {
    font-size: 24px;
    line-height: 30px;
}

.boost-portfolio-left-content p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #BDBDBD;
}

.boots-cont-lists h4 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #BDBDBD;
    margin: 0px;
}

.boots-cont-lists p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 61px;
    display: flex;
    align-items: center;
    color: #BDBDBD;
    margin: 0px;
}

.boots-cont-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boost-slide .MuiSlider-track {
    background-color: #fff;
    height: 10px;
}

.boost-slide .MuiSlider-rail {
    background-color: #515151;
    height: 10px;
}

.boost-slide {
    margin: 40px 0px;
}

.boost-slide .MuiSlider-thumb::after {
    background: linear-gradient(90deg, #36D1DC 0%, #5B86E5 100%);
    box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 47px !important;
    height: 74px !important;
    border-radius: 30px;
}

.boost-slide .MuiBox-root {
    width: 100%;
}

.boost-buton {
    text-align: center;
    padding-top: 50px;
}

.boost-buton p {
    font-family: 'Overpass';
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FCFCFC;
}

.boots-main {
    padding-bottom: 30px;
}

.boost-portfolio-content {
    position: relative;
}

.boost-portfolio-content .first-back {
    background-image: url(http://localhost:3000/static/media/first-bg.291a462d7ba6eee1685d.png);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0%;
    width: 70%;
    height: 100%;
    z-index: 1;
    max-width: 100%;
}

.boost-portfolio-contain {
    padding: 30px;
}

.boost-right-graph {
    position: relative;
    z-index: 1;
}

.boost-right-graph .css-bars {
    display: flex;
    justify-content: center;
    max-height: 400px;
    max-width: 600px;
    clear: both;
    align-items: center;
    position: relative;
}

.boost-right-graph .bar.one:before {
    content: "";
    position: absolute;
    left: -23px;
    bottom: 12px;
    height: 100%;
    width: 23px;
    -webkit-transform: skewY(45deg);
    background-image: linear-gradient(to left, rgb(122 122 122), rgb(166 166 166));
}

.boost-right-graph .bar.one {
    float: left;
    position: absolute;
    bottom: 0;
    z-index: 99;
    /* height: 20%; */
    width: 50px;
    margin: 0 40px 50px 40px;
    background-image: linear-gradient(to left, rgb(122 122 122), rgb(166 166 166));
    transform: rotatey(351deg);
}

.boost-right-graph .bar.one:after {
    content: "";
    position: absolute;
    top: -23px;
    left: -12px;
    width: 51px;
    height: 23px;
    background-image: linear-gradient(to left, rgb(122 122 122), rgb(122 122 122));
    transform: skewX(45deg);
}

.boost-right-graph .bar.two:before {
    content: "";
    position: absolute;
    left: -23px;
    bottom: 12px;
    height: 100%;
    width: 23px;
    -webkit-transform: skewY(45deg);
    background-image: linear-gradient(to left, rgb(0 255 219 / 90%), rgb(77 228 255 / 92%));
}

.boost-right-graph .bar.two {
    float: left;
    position: absolute;
    bottom: 0;
    z-index: 99;
    /* height: 60%; */
    width: 50px;
    margin: 0 40px 50px 40px;
    background-image: linear-gradient(to left, rgb(0 255 219 / 90%), rgb(77 228 255 / 92%));
    transform: rotatey(351deg);
}

.boost-right-graph .bar.two:after {
    content: "";
    position: absolute;
    top: -23px;
    left: -12px;
    width: 51px;
    height: 23px;
    background-image: linear-gradient(to left, rgb(0 255 219 / 90%), rgb(62 203 228 / 92%));
    transform: skewX(45deg);
}

.boost-right-graph .bar-list {
    margin: 0px 70px;
    height: 400px;
}
.boost-right-graph .bar .bar-value {
    margin-top: -50px;
    margin-left: -10px;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Overpass';
}

.boost-right-graph .bar.one .bar-value {
    color: #7c7a7a;
}

.boost-right-graph .bar.two .bar-value {
    color: #0fcabf;
}
.team-meet-main {
    background-color: #0D0D0D;
}
.choose-list:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d199;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.choose-list {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.choose-list:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.choose-list:hover h4 {
    color: #fff !important;
    background: -webkit-linear-gradient(#fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.choose-list:hover p {
    color: #fff;
}
.faq-main .faq-content .MuiAccordionSummary-root .MuiAccordionSummary-content p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

@media (min-width:992px) and (max-width:1199.98px) {
    .first-left-content h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .first-left-content h1 {
        font-size: 100px;
        line-height: 100px;
    }

    .first-left-content p {
        margin: 10px 0px 20px 0px;
        font-size: 18px;
        line-height: 24px;
    }

    button.start-trading-btn {
        font-size: 18px;
        max-width: 250px;
        height: 50px;
    }

    .MuiContainer-maxWidthLg.MuiContainer-fixed {
        max-width: 100%;
    }

    .first-main {
        justify-content: space-between;
        flex-wrap: initial !important;
    }

    .discover-future-content h2 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 30px;
    }

    .choose-content h2 {
        font-size: 40px;
        margin-bottom: 30px;
        margin-top: 0px;
    }

    .choose-list {
        margin-bottom: 40px;
    }

    .advisors-content ul li {
        width: 50%;
        text-align: center;
        margin-right: 40px;
    }

    .advisors-content ul {
        display: flex;
        flex-wrap: initial;
        overflow-y: auto;
    }

    .advisors-content ul li h5 {
        font-size: 18px;
    }

    .advisors-heading h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .trade-content .trade-left h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .boots-cont-lists h4 {
        font-size: 16px;
        line-height: 20px;
    }

    .boots-cont-lists p {
        font-size: 30px;
        margin-left: 10px;
    }

    .boost-slide .MuiSlider-thumb::after {
        width: 40px !important;
        height: 60px !important;
    }

    .boost-portfolio-left-content p {
        font-size: 16px;
    }

    .boost-slide {
        margin: 20px 0px;
    }

    .boots-main {
        margin-bottom: 30px;
    }
}

@media (max-width:899.98px) {
    .header-right {
        display: none !important;
    }

    .menu-icon {
        justify-content: flex-end;
    }

    .team-main button.slick-arrow.slick-prev {
        left: 0;
        bottom: -45px !important;
        top: initial;
    }

    .team-main button.slick-arrow.slick-next {
        left: 30px;
        bottom: -45px !important;
        top: initial;
    }
}

@media (min-width:768px) and (max-width:991.98px) {
    .first-left-content h2 {
        font-size: 30px;
        line-height: 45px;
    }

    .first-left-content h1 {
        font-size: 60px;
        line-height: 50px;
    }

    .first-left-content p {
        margin: 10px 0px 20px 0px;
        font-size: 16px;
        line-height: 20px;
    }

    button.start-trading-btn {
        font-size: 18px;
        max-width: 250px;
        height: 50px;
    }

    .MuiContainer-maxWidthLg.MuiContainer-fixed {
        max-width: 100%;
    }

    .first-main {
        justify-content: space-between;
        flex-wrap: initial !important;
    }

    .discover-future-content h2 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 30px;
    }

    .choose-content h2 {
        font-size: 40px;
        margin-bottom: 30px;
        margin-top: 0px;
    }

    .choose-list {
        margin-bottom: 40px;
    }

    .advisors-content ul li {
        width: 50%;
        text-align: center;
        margin-right: 40px;
    }

    .advisors-content ul {
        display: flex;
        flex-wrap: initial;
        overflow-y: auto;
    }

    .countMatter-list h4 {
        font-size: 40px;
    }

    .boost-portfolio {
        padding: 0px 0px 40px 0px;
    }

    .boots-cont-lists p {
        font-size: 30px;
        line-height: 40px;
    }

    .boots-cont-lists h4 {
        font-size: 18px;
        padding-right: 5px;
    }

    .advisor-left h2 {
        text-align: center;
    }

    .boost-portfolio-content .first-back {
        width: 100%;
    }

    .boost-right-graph img {
        max-width: 500px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}

@media (max-width: 767.98px) {

    .first-left-content h2,
    .first-left-content h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .first-main {
        padding: 30px 0px;
        width: 100% !important;
        justify-content: center;
        text-align: center;
    }

    .first-right-image-right {
        justify-content: center;
    }

    .first-left-content p {
        font-size: 16px;
        margin-bottom: 35px;
        margin-top: 16px;
    }

    .first-left-content span.text-first {
        display: none;
    }

    .first-left-content button.start-trading-btn {
        display: none;
    }

    .first-right-image button.start-trading-btn {
        display: block;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        padding: 10px 20px;
        height: 40px;
        max-width: 217px;
        margin: 36px auto 0 auto;
    }

    .advisors-content ul {
        display: flex;
        flex-wrap: initial;
        overflow-y: scroll;
        padding-left: 0px;
    }

    .advisors-content ul li {
        width: 50%;
        text-align: center;
        margin-right: 40px;
    }

    .discover-future-content h2 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .discover-video {
        height: 300px;
    }

    button.start-trading-btn {
        display: block;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        padding: 10px 20px;
        height: 40px;
        max-width: 217px;
        margin: 36px auto 0 auto;
    }

    .choose-main {
        padding: 10px 0px 20px 0px;
    }

    .choose-content h2 {
        font-size: 24px;
        margin: 0px 0px 35px 0px;
    }

    .choose-list h4 {
        font-size: 16px;
        line-height: 20px;
    }

    .choose-list p {
        font-size: 12px;
        line-height: 15px;
    }

    .choose-list {
        margin-bottom: 20px;
        width: 100%;
    }

    .trade-content .trade-left h2 {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    .trade-left p {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }

    .trade-right img {
        height: 300px;
    }

    .refer-earn-main {
        display: none;
    }

    .faq-main {
        display: none;
    }

    .countMatter-heading h2 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 0px;
    }

    .countMatter-heading p {
        font-size: 16px;
        line-height: 28px;
    }

    .countMatter-content-lists {
        overflow-x: auto;
        flex-wrap: initial !important;
        justify-content: space-between;
    }

    .countMatter-lists {
        max-width: 200px !important;
        width: 140px !important;
        padding-top: 10px !important;
    }

    .countMatter-list h4 {
        font-size: 24px;
        line-height: 30px;
    }

    .countMatter-list p {
        font-size: 12px;
        line-height: 23px;
        margin-bottom: 0px;
        white-space: nowrap;
    }

    .advisor-left h2 {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    .advisors-heading h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .advisors-content ul li img {
        width: 95px;
        height: 95px;
        object-fit: contain;
    }

    .countMatter-main {
        padding: 10px 0px 40px 0px;
    }

    .countMatter-list {
        padding: 10px;
        width: 140px;
    }

    .first-right-image img {
        width: 227px;
        height: 214px;
    }

    .advisor-cont {
        padding: 30px 0px;
    }

    .advisors-content ul li h5 {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .advisors-content ul li p {
        font-size: 12px;
    }

    .footer-first {
        text-align: center;
    }

    .footer-main .MuiGrid-container {
        justify-content: space-evenly;
    }

    .team-main {
        padding-bottom: 60px;
    }

    .team-left-content h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .team-left-content p {
        font-size: 16px;
    }

    .team-meet-main {
        padding: 30px 0px;
    }

    .discover-video .vpfr_container {
        height: 300px;
    }

    .discover-video .vpfr_player_controls,
    .discover-video .vpfr_play_pause_on_click {
        width: calc(100% - 20px) !important;
    }

    .discover-future-crypto {
        padding: 0px !important;
    }

    .discover-video .vpfr_volume_progress_back,
    .vpfr_volume_progress_fields {
        max-width: 50px !important;
    }

    .discover-video .vpfr_timers {
        font-size: 10px;
    }

    .discover-video .vpfr_player_controls button svg {
        padding: 0px !important;
        font-size: 20px !important;
        width: 16px;
        height: 16px;
    }

    .vpfr_player_item {
        margin: 0;
    }

    .boost-content h2 img {
        display: none;
    }

    .boost-content h2 {
        display: block;
        text-align: center;
    }

    .boost-content h2 span {
        padding-right: 0;
    }

    .boost-portfolio {
        padding: 40px 0px;
    }

    .boost-slide .MuiSlider-thumb::after {
        width: 30px !important;
        height: 40px !important;
    }

    .boots-cont-lists h4 {
        font-size: 20px;
    }

    .boost-portfolio-left-content p {
        font-size: 16px;
        text-align: center;
        margin: 0px;
    }

    .boost-slide {
        margin: 20px 0px;
    }

    .boots-cont-lists p {
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        margin: 0px;
        padding-left: 5px;
    }

    .header-logo {
        width: 120px;
    }

    .boost-buton {
        text-align: center;
        padding-top: 0px;
    }

    .boost-buton button.start-trading-btn {
        margin-top: 20px;
    }

    .boots-cont-list {
        margin-top: 10px;
    }

    .advisors-main {
        padding: 20px 0px;
    }

    .boost-portfolio-content .first-back {
        width: 100%;
    }

    .boost-right-graph img {
        max-width: 500px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }

    .trade-cont-Futures {
        align-items: center;
        justify-content: center;
    }
    .boost-right-graph .bar-list {
        margin: 0px 50px;
        height: 350px;
    }
}

@media (max-width:599.98px) {

    .team-main .slick-track {
        transform: initial !important;
        max-width: 600px;
        height: 260px;
        display: flex;
        overflow-y: auto;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .team-main .slick-slide {
        min-width: 120px;
        margin-right: 34px;
    }

    .team-main .slick-list {
        padding-left: 0px !important;
    }

    .team-main .slick-prev,
    .team-main .slick-next {
        display: none !important;
    }

    .team-main {
        padding-bottom: 20px;
    }
}